.container {
    margin: 10px 0 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.container__map {
    width: 100%;
}

.container__map iframe {
    border: none;
    width: 100%;
    height: 400px;
}

.container__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

/* contact info */
.contact__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact__info h2 {
    font-size: 28px;
    font-weight: 600;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info__item {
    display: flex;
    gap: 10px;
}

.info__item:last-child {
    margin-top: 40px;
}

.info__item ul {
    display: flex;
    gap: 30px;
}

.info__item ul li a {
    color: #282828;
    font-size: 20px;
}

.info__item ul li a:hover {
    opacity: 0.6;
}

/* contact form */
.contact__form {
    height: 100%;
}

.row {
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row:first-child .row:nth-child(1) {
    margin-top: 0;
}

.icon {
    position: absolute;
    transform: translate(50%, 65%);
}

.form__item--header {
    display: flex;
    gap: 20px;
}

.row input,
.row textarea {
    padding: 9px 0 9px 30px;
    font-size: 14px;
    border: 1px solid hsl(0, 0%, 80%);
}

.row textarea {
    height: 100px;
}

.row span {
    color: var(--red);
}

.row button {
    padding: 7px 10px;
    outline: none;
    color: #fff;
    border: 1px solid #282828;
    background-color: #282822;
    cursor: pointer;
}

.row button:hover {
    background-color: transparent;
    color: #282822;
}

@media only screen and (max-width: 1000px) {
    .container__contact {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .contact__info {
        width: 400px;
    }

    .contact__form {
        margin-top: 40px;
        width: 400px;
    }

    .form__item--header .row input {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .contact__info {
        width: 300px;
    }

    .contact__form {
        margin-top: 40px;
        width: 300px;
    }

    .row input,
    .row textarea {
        padding: 9px 0 9px 10px;
    }
}
