.container {
    background-image: url('https://cdn.mos.cms.futurecdn.net/hofAQNpgapKkMXKKvUqPQb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.container--filter {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.login {
    padding: 10px 30px;
    background-color: #fff;
}

.login--heading h1 {
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.row {
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    position: absolute;
    transform: translate(50%, 65%);
}

.row input {
    width: 300px;
    padding: 9px 0 9px 30px;
    font-size: 14px;
    border: 1px solid hsl(0, 0%, 80%);
}

.row span {
    color: var(--red);
}

.row button {
    padding: 7px 10px;
    outline: none;
    color: #fff;
    border: 1px solid #282828;
    background-color: #282822;
    cursor: pointer;
}

.row button:hover {
    background-color: #fff;
    color: #282822;
}

.link {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.link a {
    color: #282822;
}

.link span {
    cursor: pointer;
}

/* CSS FORGOT PASSWORD */
.forgot--container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
