.products {
    overflow: scroll;
}

.info-order {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.info-order h3,
.info-order p {
    color: var(--gray-dark);
    font-size: var(--font-size-tag-p);
    line-height: 30px;
}

.info-order .info-order-action {
    width: 20%;
}

.info-order .info-order-action p {
    color: var(--red);
    font-weight: 600;
}

.info-order .info-order-action .method {
    color: var(--green);
    font-weight: 600;
}

.info-order button {
    width: 100%;
    margin-top: 20px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: var(--font-size-tag-p);
}

.action-sort {
    display: flex;
    align-items: center;
    justify-content: end;
}

.action-sort span {
    cursor: pointer;
    margin-right: 10px;
}

.action-sort span .icon {
    padding: 0 10px;
}

@media only screen and (max-width: 1500px) {
    .info-order .info-order-action {
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .table-heading,
    .table-body {
        font-size: calc(var(--font-size-tag-p) - 0.3rem);
    }

    .info-order {
        flex-direction: column;
    }

    .info-order .info-order-action {
        width: 100%;
    }
}
