.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.container__table {
    width: 100%;
}

.container__table table {
    width: 100%;
}

.container__table table thead tr td {
    background-color: #282828;
    color: #fff;
    padding: 7px;
}

.container__table table thead tr td:first-child {
    text-align: left;
}

.container__table table thead tr td span {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.container__table table tbody tr th {
    background-color: #ddd;
    font-weight: 300;
    padding: 0 7px;
    text-align: right;
}

.container__table table tbody tr th:first-child {
    text-align: left;
}

.price__original {
    text-decoration: line-through;
}

.price__sale {
    color: var(--red);
}

.container__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container__info__detail,
.container__info__action {
    line-height: 30px;
}

.container__info__action {
    width: 200px;
}

.container__info__action--price--original {
    text-decoration: line-through;
}

.container__info__action button {
    cursor: pointer;
    width: 100%;
    padding: 7px;
    font-size: 16px;
    background-color: #282828;
    color: #fff;
    border: none;
}

.container__info__action button:disabled {
    background-color: #ddd;
}
