.heading {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    background-position: center;
    background-image: url('https://media.4rgos.it/i/Argos/sb-0222-m0014-m007-m050-asym-m008-m022-appleiphone-brandshop-iphonese?maxW=1200&qlt=75&fmt.jpeg.interlaced=true');
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .table--container {
    width: 60%;
}

.container .table--container table {
    margin-top: 70px;
    border-collapse: collapse;
    width: 100%;
}

.container .table--container table thead tr th {
    background-color: #282828;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

/* css cột đầu tiên */
.container .table--container table tr th:first-child {
    text-align: center;
    padding: 0 10px;
}

.container .table--container table tbody tr th:first-child button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #939393;
    cursor: pointer;
    padding: 0px;
}

.container .table--container table tbody tr th:first-child button:hover {
    color: #282828;
}

/* header table */
.container .table--container table thead tr th {
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #939393;
}

/* css cột header số lượng */
.container .table--container table thead tr th:nth-last-child(2) {
    text-align: center;
}

.container .table--container table thead tr th:nth-last-child(3) {
    text-align: right;
}

.container .table--container table thead tr th:nth-last-child(1) {
    text-align: right;
}

.container .table--container table tbody tr th {
    padding: 4px;
    border-bottom: 1px solid #939393;
}

/* css cột tên sản phẩm */
.cart__column--name {
    display: flex;
    align-items: center;
}

.cart__column--name a {
    font-weight: 300;
    color: #282828;
}

/* css cột gía  */
.cart__column--price {
    text-align: right;
    font-weight: 300;
    color: #939393;
}

.cart__column--price--original {
    text-decoration: line-through;
}

.cart__column--price--sale {
    color: #282828;
}

/* css cột số lượng */
.cart__column--count {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart__column--count button {
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    color: #939393;
}

.cart__column--count button:hover {
    color: #282828;
}

.cart__column--count span {
    font-weight: 300;
}

/* css cột tổng */
.container .table--container table tbody tr th:nth-last-child(1) {
    font-weight: 300;
    text-align: right;
}

/* order action */
.action--container {
    margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
    .container .table--container,
    .container .action--container {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .container a {
        display: none;
    }
}
