/* Slider */
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
}

.container--heading {
    width: 100%;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.swiper {
    width: 100%;
    position: relative;
}

.swiper__item--button--item {
    cursor: pointer;
    padding: 6px;

    background-color: transparent;
    border: none;
    outline: none;
}

.swiper__item--button--item svg {
    font-size: 28px;
}

.swiper__item {
    width: 370px;
    height: 100%;
    margin: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
}

.swiper__item:last-child {
    margin-right: 10px;
}

@media only screen and (max-width: 500px) {
    .swiper__item {
        width: fit-content;
    }
} ;
