/* Slider */
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
}

.container--heading {
    width: 100%;
    color: #000;
    padding-bottom: 5px;
    font-size: 18px;
}

.swiper {
    width: 100%;
    position: relative;
    border: 1px solid hsl(0, 0%, 80%);
}

.swiper__item {
    width: 290px;
    height: 100%;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
}

.swiper__item:last-child {
    margin-right: 10px;
}

@media only screen and (max-width: 500px) {
    .swiper__item {
        width: fit-content;
    }
} ;
