.container {
    width: 100%;
    padding: 90px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.orders {
    width: 60%;
    margin-top: 10px;
}

.order {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action {
    display: flex;
    justify-content: space-between;
}

.action .action-filter {
    display: flex;
    gap: 20px;
}

.selected {
    font-size: 1.2rem;
}

.input-date {
    padding: 3px 5px;
    border: 1px solid var(--gray);
    font-size: 1.2rem;
    border-radius: 4px;
    color: var(--gray);
    border: 0.2px solid hsl(0, 0%, 80%);
}

.input-date:focus {
    border: none;
    outline: 3px solid var(--blue);
}

::-webkit-calendar-picker-indicator {
    opacity: 0.3;
    background-color: var(--white);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

@media only screen and (max-width: 1300px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .orders {
        width: 90%;
    }

    .order {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 900px) {
    .action {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 670px) {
    .container {
        margin-bottom: 10%;
        padding: 90px 0 0 0;
    }

    .action {
        align-items: center;
    }

    .action h1 {
        text-align: center;
    }

    .action .action-filter {
        flex-direction: column;
    }
}
