.container {
    width: 100%;
    padding: 90px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.orders {
    width: 60%;
    margin-top: 10px;
}

.order {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .orders {
        width: 90%;
    }

    .order {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 670px) {
    .container {
        margin-bottom: 10%;
        padding: 90px 0 0 0;
    }

    .action {
        flex-direction: column;
        gap: 20px;
    }

    .action h1 {
        text-align: center;
    }
}
