.container {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px 0;
}

.container__profile {
    width: 90%;
}

.container__track {
    width: 90%;
}

.container__track--action {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.container__track--action h1 {
    font-size: 20px;
}

.conatiner__track--action__input {
    display: flex;
    gap: 20px;
}

.conatiner__track--action__input--select {
    font-size: 16px;
}

.conatiner__track--action__input--date {
    padding: 3px 5px;
    border: 1px solid var(--gray);
    font-size: 1.2rem;
    border-radius: 4px;
    color: var(--gray);
    border: 0.2px solid hsl(0, 0%, 80%);
}

.conatiner__track--action__input--date:focus {
    border: none;
    outline: 3px solid var(--blue);
}

::-webkit-calendar-picker-indicator {
    opacity: 0.3;
    background-color: var(--white);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 0;
    }

    .container__track--action {
        flex-direction: column;
        align-items: normal;
    }
}

@media only screen and (max-width: 500px) {
    .conatiner__track--action__input {
        flex-direction: column;
    }
}
