.container {
    display: flex;
    padding: 5%;
    gap: 0 40px;
}

.container--left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.container--left img {
    width: 90%;
    height: fit-content;
}

.container--right {
    width: 50%;
    height: 100%;
}

.container--right__button {
    margin: 20px 0;
    cursor: pointer;
    color: #fff;
    background-color: #282828;
    border: 1px solid #282828;
    outline: none;
    bottom: -10px;
    padding: 7px;
    font-size: 14px;
}

.container--right__button:hover {
    color: #282828;
    background-color: #fff;
}

.container__information--name {
    line-height: 20px;
    font-size: 20px;
}

.container__information--sale {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
}

.container__information--price {
    margin-top: 7px;
    display: flex;
    gap: 10px;
}

.container__information--price h3 {
    font-weight: 300;
}

.container__information--price--original {
    text-decoration: line-through;
}

.container__information--detail {
    margin-top: 7px;
}

.container__information--detail h3 {
    font-size: 16px;
    width: 100%;
    text-decoration: underline;
}

.container__information--detail ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 10%;
    }

    .container--left {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container--left img {
        width: 100%;
        height: auto;
    }

    .container--right {
        width: 100%;
    }
}
