.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.section {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section--container {
    width: 90%;
}

.section--heading,
.product--heading {
    margin: 100px 0 0;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.product--heading {
    font-size: 32px;
    margin: 100px 0 100px;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product--container {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 50px 20px;
}

.product--item {
    max-width: 400px;
}
