/* CSS UNIT */
.unit-one {
    top: 0px;
    height: 640px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #000;
}

.unit-one-content {
    position: relative;
    flex-grow: 0;
    z-index: 4;
    margin-top: 44px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.unit-one-content h1 {
    font-weight: 600;
}

.unit-one-content div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}

.unit-one:hover .unit-one-content div {
    opacity: 1;
    transform: translateX(0);
}

.unit-one-content div button {
    margin-top: 10px;
}

.unit-one-img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    flex-grow: 1;
    overflow: visible;
}

.unit-one-img img {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: auto;
    transform: translatex(-50%);
}

@media (max-width: 600px) {
    .unit-one {
        height: 40vh;
    }
    .unit-one-img img {
        width: 150%;
    }

    .unit-one-content {
        margin-top: 12px;
    }
}
