.product {
    position: relative;
    background-color: var(--white);
    width: 300px;
    height: 450px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: 0.2s;
}

.image {
    width: 100%;
    height: 45%;
    display: grid;
    place-items: center;
}

.image img {
    width: 100%;
    height: 100%;
}

.name-price {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-price a {
    font-size: var(--font-size-heading-three);
    text-transform: capitalize;
    color: var(--gray-dark);
}

.name-price span {
    font-size: 1.2rem;
    color: var(--red);
}

.information {
    margin-top: 10px;
}

.product p {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--gray);
}

.buy {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.buy button {
    padding: 10px 20px;
    border: none;
    background-color: var(--gray);
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
}

.buy button:hover {
    background-color: var(--gray-dark);
}
