.product {
    width: 100%;
    height: auto;
}

.product__header {
    position: relative;
}

.product__header--sale {
    color: #fff;
    position: absolute;
    padding: 3px;
    top: 0;
    left: 0;
    background-color: #939393;
}

.product__header--link--image {
    width: 100%;
}

.product__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.product__body--button {
    color: #282828;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    border: none;
    display: flex;
    top: 50%;
    left: -40%;
}

.product__body--button span {
    padding: 5px;
    font-weight: 300;
}

.product__body--link {
    margin-top: 15px;
    color: #000;
    font-weight: 600;
}

.product__body--sale {
    text-decoration: line-through;
}
