/* CSS LOGO */
.logo {
    display: flex;
    align-items: center;
}

.logo .logo-icon {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

/* CSS MAIN ABOUT LOGIN, REGISTER AND BUTTON MENU */
.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.main a:hover {
    color: var(--main-color);
}

.user {
    display: flex;
    align-items: center;
}

.user .user-icon {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.menu-icon {
    align-items: center;
    text-align: center;
    width: 35px;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.main button {
    margin-right: 5px;
}

/* FLEXIBLE FOR MOBILE AND TABLET */
@media (max-width: 1280px) {
    .menu a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        width: 270px;
        height: auto;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .menu a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .menu a:hover {
        color: var(--text-color);
        transform: translateX(10px);
    }

    .menu a.active {
        color: var(--text-color);
    }
}

/* FELXIBLE USER ICON FOR MOBILE */
@media (max-width: 500px) {
    .main a {
        margin-right: 10px;
        margin-left: 5px;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.5s ease;
    }

    .user .user-icon {
        color: var(--main-color);
        font-size: 20px;
        margin-right: 7px;
    }
}
