/* section */
.home {
    height: 100vh;
    margin: 0 10%;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h4 {
    font-size: var(--font-size-heading-four);
    font-weight: var(--font-weight-heading-four);
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--gray);
    transition: 0.2s;
}

.text h1 {
    font-size: 55px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 70px;
    color: var(--gray-dark);
    transition: 0.2s;
}

.text p {
    color: var(--dark);
    font-size: var(--font-size-tag-p);
    text-transform: capitalize;
    max-width: 420px;
    line-height: 25px;
    margin: 10px 0 20px 0;
}

.btn {
    text-align: center;
    width: 200px;
    margin-top: 10px;
    padding: 12px 40px;
    display: inline-block;
    background-color: var(--gray);
    color: var(--white);
    font-size: var(--font-size-tag-p);
    font-weight: var(--font-weight-heading-four);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.42s;
}

.btn:hover {
    background-color: var(--gray-dark);
}

@media only screen and (max-width: 1100px) {
    .home {
        margin: 60px 4% 0 4%;
        background-position: top;
        height: 85vh;
    }

    .text h4 {
        font-size: calc(var(--font-weight-heading-four) - 1rem);
    }

    .text h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .text p {
        font-size: calc(var(--font-size-tag-p) - 0.2rem);
    }

    .btn {
        padding: 10px 32px;
    }
}
