.footer {
    width: auto;
    margin: 2% 5% 0;
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2828288e;
}

.footer__list {
    display: flex;
    gap: 20px;
}

.footer__list li a {
    font-size: 14px;
    color: #282828;
}

.footer__list li a:hover {
    opacity: 0.8;
}

.footer__copyright {
    opacity: 0.6;
}
