.footer {
    width: auto;
    margin: 0;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2828288e;
}

.footer__list {
    display: flex;
    gap: 20px;
}

.footer__list li a {
    font-size: 16px;
    color: #282828;
}

.footer__list li a:hover {
    opacity: 0.8;
}

.footer__copyright {
    opacity: 0.6;
}

@media only screen and (max-width: 650px) {
    .footer__list {
        flex-direction: column;
    }
}
