.forgot--main {
    width: 340px;
    padding: 20px;
    background-color: #fff;
}

.forgot--main h1 {
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.row {
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    position: absolute;
    transform: translate(50%, 65%);
}

.row input {
    width: 300px;
    padding: 9px 0 9px 30px;
    font-size: 14px;
    border: 1px solid hsl(0, 0%, 80%);
}

.row span {
    color: var(--red);
}

.forgot--main button {
    width: 100%;
}

.row button,
.forgot--main button {
    padding: 7px 10px;
    outline: none;
    color: #fff;
    border: 1px solid #282828;
    background-color: #282822;
    cursor: pointer;
}

.row button:hover,
.forgot--main button:hover {
    background-color: #fff;
    color: #282822;
}
