.container {
    width: 100%;
    display: flex;
    gap: 30px;
}

.container--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px 0;
}

.container__avatar {
    min-width: 300px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Input upload file */
.update input[type='file'] {
    display: none;
}

.update {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.update label,
.update button {
    cursor: pointer;
    padding: 10px;
    background-color: #282828;
    color: #fff;
    border: 1px solid #282828;
    outline: none;
}

.update label:hover,
.update button:hover {
    background-color: transparent;
    color: #282828;
}

.container--right {
    width: 50%;
    position: relative;
}

.container__information table {
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}

.container__information table th:first-child {
    font-weight: 600;
    padding-right: 20px;
}

.container__information table th {
    font-weight: 300;
}

.container__information--title {
    font-weight: 600;
}

.container__information--name {
    text-transform: capitalize;
}

.container__edit {
    position: absolute;
    bottom: 0;
}

.container__edit--button {
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    background-color: #282828;
    border: 1px solid #282828;
    color: #fff;
}

.container__edit--button:hover {
    background-color: transparent;
    color: #282828;
}

@media only screen and (max-width: 850px) {
    .container--left {
        width: 40%;
    }

    .container--right {
        width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }

    .container--left {
        width: 100%;
        justify-content: center;
    }

    .container--right {
        width: 100%;
        height: 350px;
    }

    .container__information table th:first-child {
        font-weight: 600;
        padding-right: 1px;
    }
}
